.MainForum {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.MainForum:hover {
  background: #f7f7f7;
}


.MainForumCard {
background: white;
  width: 80%;
  height:  100%;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
}

.MainForumTitleRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.MainForumTitle {
  font-size: 16px;
  margin: 0;
  cursor: pointer;
  color: #276ef1;
}

.MainForumTitle:hover {
  text-decoration: underline;
}

.MainForumTitleMeta {
  font-size: 13px;
  color: #888;
  margin-top: 4px;
}

.MainForumTitleViews {
  font-size: 13px;
  color: #888;
  margin-top: 4px;
}



