version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: videogame_forum
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - appnet

  backend:
    build: ./videgameforum_backend
    container_name: go_backend
    ports:
      - "8081:8081"
    environment:
      DATABASE_URL: "postgres://postgres:root@postgres:5432/videogame_forum?sslmode=disable"
    depends_on:
      - postgres
    networks:
      - appnet

  frontend:
    build: ./videogameforum_frontend
    container_name: next_frontend
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_BACKEND_URL: "http://backend:8081"
    depends_on:
      - backend
    networks:
      - appnet

networks:
  appnet:

volumes:
  db-data:
