.MainForum {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}



.MainForumCard {
  background: white;
  width: 80%;
  height:  100%;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  margin: 0 auto;
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 15%;
}

.MainForumTitleRow {
  display: flex;
  gap: 8px;
  padding: 30px;
}

.MainForumElement:hover{
  background-color: #d3cfcf;
}

.MainForumTitle {
  font-size: 16px;
  margin: 0;
  cursor: pointer;
  color: #276ef1;
}

.MainForumTitle:hover {
  text-decoration: underline;
}

.MainForumTitleMeta {
  display: flex;
  font-size: 13px;
  color: #000000;
  margin-top: 4px;
  border-bottom: 0.5px solid #242424;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}

.MainForumInfo{
  font-size: 13px;
  color: #000000;
  margin-top: 4px;
}




