:root {

    --topbar-bg: #33363b; 
    --sidebar-bg: #212121; 
    --page-bg: #1c1c1e;   
    --card-bg: #2c2f33;  
    

    --primary-text: #f6f6f6;
    --secondary-text: #999999;
    --border-color: #3e4146;
    --highlight-color: #ffc107; 
    --row-hover-bg: #33363b;
}

body {
    background-color: var(--page-bg);
    font-family: sans-serif;
    color: var(--primary-text);
}

.Layout{
    display: flex;
}

.RightArea{
    flex:1;
    display:flex;
    flex-direction: column;
}

.ContentArea{
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 600px;
    margin-left: 0;
    justify-content: flex-start;
}


.pinned-forum-wrapper {
    
    margin-bottom: 10px;
    margin-left: 220px;
    margin-top: 120px;
    margin-right: 20px;
}



.pinned-forum-card-link {
    text-decoration: none; 
    color: inherit; 
    display: block; 
    transition: background-color 0.2s ease-in-out;
}

.-pinned-forum-card {

    background-color: #242424; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    border-left: 5px solid #007bff; 
}


.pinned-forum-card-link:hover .-pinned-forum-card {
    background-color: #2c2c2c; 
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}



.pinned-forum-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.pinned-forum-name {
    font-size: 1.1em;
    font-weight: 600;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

.pinned-forum-wrapper > .pinned-forum-name h3 {
    font-size: 1.3em;
    color: #f0f0f0;
    margin-bottom: 15px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}



