.TopBar{
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(57, 53, 53);
    z-index: 1200;
}

.TopBar .TopLink{
    padding-right: 5px
}

.TopBar .TopLink:hover{
    text-decoration: underline;
}
    

input{
    width: 300px;
    margin-right: 100px;
}

a:hover{
    text-decoration: underline;
}
