.custom_drawer
{
width: 200px;
position: fixed;
}

.SideBar
{
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.DrawerDesktop .MuiDrawer-paper{
    position: fixed;
    margin-top: 104px;
}

