:root {

    --topbar-bg: #33363b; 
    --sidebar-bg: #212121; 
    --page-bg: #1c1c1e;   
    --card-bg: #2c2f33;   
    

    --primary-text: #f6f6f6;
    --secondary-text: #999999;
    --border-color: #3e4146;
    --highlight-color: #ffc107; 
    --row-hover-bg: #33363b;
}

.MainMenu{

    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px; 
    background-color: var(--page-bg); 
    margin-top: 100px;
    margin-left: 220px;
}

.MainMenu-Title {
    color: var(--primary-text); 
    font-size: 2.2em;
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 5px;

    border-bottom: 2px solid var(--highlight-color); 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


