:root {

    --topbar-bg: #33363b; 
    --sidebar-bg: #212121; 
    --page-bg: #1c1c1e;   
    --card-bg: #2c2f33;   
    

    --primary-text: #f6f6f6;
    --secondary-text: #999999;
    --border-color: #3e4146;
    --highlight-color: #ffc107; 
    --row-hover-bg: #33363b;
}

.MainMenu{

    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px; 
    background-color: var(--page-bg); 
    margin-top: 100px;
    margin-left: 220px;
}


