.Post{
    display: flex;
    justify-content: center;
}

.PostCard{
    color: black;
    background: white;
    width: 80%;
    height:  100%;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 50px;
    min-height: 20vh;
}

.PostElement{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
}

.PostTitle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
}

.PostInfo{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    flex-direction: row;
}