.CreateComment{
    display: flex;
    flex-direction: column;
}

.CreateCommentCard{
    display: flex; 
    margin: 15px 0;
    border-radius: 6px;
    overflow: hidden; 
    border: 1px solid var(--border-color);
    background-color: var(--comment-bg);
    flex-direction: column;
}

:root {
    --comment-bg: #2c2f33;       
    --primary-text: #f6f6f6;
    --secondary-text: #999999;
    --border-color: #3e4146;
    --highlight-color: #ffc107;
    --meta-panel-bg: #212121;    
}


.CommentMetaPanel {
    width: 150px; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-right: 1px solid var(--border-color); 
    background-color: var(--meta-panel-bg); 
}

.CommentAuthor {
    color: var(--primary-text);
    font-weight: 600;
    margin-bottom: 5px;
}

.CommentDate {
    color: var(--secondary-text);
    font-size: 0.75em;
}

.CommentBody {
    flex-grow: 1;
    padding: 15px 20px;
}

.CommentText {
    color: var(--primary-text);
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
    white-space: pre-wrap; 
}

.CommentCard{
    border-bottom: 2px solid var(--highlight-color);
    padding: 20px;
}

.AuthorDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}


.CommentAuthorPicture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
    border: 2px solid var(--highlight-color); 
}