.MainMenuCard {
  background: #ece9e9;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  margin: 0 auto;
  margin-top: 100px;
  margin-left: 200px;
}

.ForumTitle{
    color: black;
}