:root {

    --topbar-bg: #33363b; 
    --sidebar-bg: #212121; 
    --page-bg: #1c1c1e;   
    --card-bg: #2c2f33;   
    
    --primary-text: #f6f6f6;
    --secondary-text: #999999;
    --border-color: #3e4146;
    --highlight-color: #ffc107;
    --row-hover-bg: #33363b;
}

body {
    background-color: var(--page-bg);
    font-family: sans-serif;
    color: var(--primary-text);
}

.Layout{
    display: flex;
    height: 100%;
}

.RightArea{
    flex:1;
    display:flex;
    flex-direction: column;
}

.ContentArea{
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 900px;
    margin-left: 0;
    justify-content: flex-start;
}


