@import "tailwindcss";

:root {
    --topbar-bg: #33363b;
    --sidebar-bg: #212121;
    --page-bg: #1c1c1e;   
    --card-bg: #2c2f33;  
    
 
    --primary-text: #f6f6f6;
    --secondary-text: #999999;
    --border-color: #3e4146;
    --highlight-color: #ffc107; 
    --row-hover-bg: #33363b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #fff7f7;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

input{
  background-color: white;
  color: black;
  border: 1px solid #ccc;
}
