/* Centrado total de la tarjeta */
.CreateForum {
  display: flex;
  justify-content: center;
}

.CreateForumCard{
    background: hsl(0, 0%, 100%);;
  padding: 40px 50px;
  width: 500px;
  height: 700px;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.1);
  margin: 0 auto;
  margin-top: 60px;
}


.CreateForumCard h2 {
  background: #727474;
  color: rgb(0, 0, 0);
  padding: 15px;
  margin: -50px -50px 50px -50px;
  border-radius: 8px 8px 0 0;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}


label {
  font-size: 15px;
  font-weight: 600;
  color: #333;
  margin-top: 20px;
  display: block;
}


.CreateForumCard input[type="text"]
{
  width: 100%;
  padding: 12px 14px;
  margin-top: 6px;
  border: 2px solid #e1e1e1;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
  transition: 0.2s;
}

.CreateForumCard input:focus {
  border-color: #1f48d6;
}






.CreateForumButton {
  width: 100%;
  background: #1f48d6;
  border: none;
  padding: 14px;
  font-size: 16px;
  border-radius: 6px;
  color: white;
  margin-top: 25px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.CreateAccountButton:hover {
  background: #1639ad;
}

